body{
  background-color:#fef6f55f;
  font-family: 'Open Sans', sans-serif;
  color: #251605;
  text-align: center;
  margin: 0;
}

h1{
  margin: 10px auto 0 auto;
  font-family: 'Satisfy', cursive;
  font-size: 3.75rem;
  color: #5E3023;
  line-height: 2;
}

h2{
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 2rem;
  color: #5E3023;
  margin-bottom: 50px;
}


p{
  line-height: 2;
  margin: 0 60px;
}


a{
  color:#5E3023;
  text-decoration: none;
}

a:hover{
  color: #251605;
  text-shadow: 2px 2px 5px #5e302355;
}


.top-container{
  width: 40%;
  margin: 60px auto 0 auto;
}

.profileimg-circle{
  width:36%;
}

.middle-container, .bottom-container{
  width: 40%;
  margin:80px auto 0 auto;
  padding: 50px 60px;
  box-shadow: 0 0 8px 0 #5e302355;
  border-radius: 10px;
  background-color:#FEF6F5;
}

form{
  text-align: left;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}
/* .button{
  background-color: #ffebea;
  padding: 10px 24px;
  border-radius: 10px;
} */

/* .button:hover{
  background-color: #fbd6c7;
} */

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline{
  padding: 0;
}

footer{
  margin: 80px 0;
}

.fa-brands{
  font-size: 2rem;
}
